* {
    margin: 0;
}

body {
    background-color: black;
}

h1 {
    font-size: 98px;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    flex-direction: column;
    align-items: center;
    display: none; /*пока none*/
}

.app {
    border: 1px dotted cadetblue;
    border-top: none;
    border-radius: 30px;
    overflow: hidden;
}

img {
    width: 500px;
    height: 500px;
}

.slider {
    width: 500px;
    height: 500px;
    border-radius: 0 0 20px 20px;
    overflow: hidden;
}

.slider-line {
    height: 500px;
    width: 2500px;
    display: flex;
    position: relative;
    left: 0;
    transition: all 1s ease-in-out;
}

button {
    background-color: black;
    border: 1px dotted cadetblue;
    width: 300px;
    height: 50px;
    color: white;
    border-radius: 20px;
    transition: background-color 1s ease-in-out, box-shadow 1s ease-in-out, transform 1s ease-in-out;
    margin: 20px 20px;
}

button:hover {
    background-color: cadetblue;
    transform: scale(1.1);
    box-shadow: 0 0 100px 30px cadetblue;
}

.button {
    width: 500px;
    display: flex;
    
}

.btn-wrap {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

@keyframes StartBtnAnim {
    0% {
        box-shadow: 0 0 100px 30px cadetblue;
    }
    50% {
        box-shadow: none;
    }
    100% {
        box-shadow: 0 0 100px 30px cadetblue;
    }
}

.btn-wrap button {
    animation: StartBtnAnim 3s ease-in-out infinite;
    margin-bottom: 100px;
    font-size: 20px;
}
